# Configuration file

autoclave {
    I:"dustBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustBauxite;dustSodiumHydroxide;steam;_3000"=3000
    I:"dustGlowstone;gt.integrated_circuit;steam;_6400"=6400
    I:"dustPinkFluorite;gt.integrated_circuit;steam;_3200"=3200
    I:"dustRedFluorite;gt.integrated_circuit;steam;_3200"=3200
    I:"dustRedstone;gt.integrated_circuit;steam;_6400"=6400
    I:"dustSmallBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustSmallBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustSmallBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustSmallBauxite;dustSodiumHydroxide;steam;_3000"=3000
    I:"dustSmallGlowstone;gt.integrated_circuit;steam;_6400"=6400
    I:"dustSmallPinkFluorite;gt.integrated_circuit;steam;_3200"=3200
    I:"dustSmallRedFluorite;gt.integrated_circuit;steam;_3200"=3200
    I:"dustSmallRedstone;gt.integrated_circuit;steam;_6400"=6400
    I:"dustTinyBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustTinyBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustTinyBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustTinyBauxite;dustSodiumHydroxide;steam;_3000"=3000
}


